@media (min-width: 48em) {
  .sidebar {
    width: 20rem;
  }
}

@media (min-width: 48em) {
  .content {
    margin-left: 22rem;
    max-width: 40rem;
  }
}


.container {
  max-width: 50rem;
}

#taglist {
  display: inline;
  list-style: none;
  padding-left: 0;
}

#taglist li {
  display: inline;
}

#taglist li:after {
  content: ", ";
}

#taglist li:last-child:after {
  content: "";
}